/* Navigational CSS 9/30/2022 */
.nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4b81f8; }

.nav-title {
    display: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
    color: #efefef;
    padding-left: 0.625em; }

.name-website {
    display: block;
    /* show website name on larger screens */ }

.name-website .webtitle {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.8em;
    color: #4b81f8; }

.nav > .nav-btn {
    display: none; }

/* Updated Hamburger Menu CSS */
.nav > .nav-btn > label {
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #4b81f8;
    /* New color for the hamburger */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    /* New shadow for the hamburger */
    transition: transform 0.5s ease-in-out;
    /* Added for animation */ }

.nav > .nav-btn:hover > label {
    transform: scale(1.1);
    /* New hover effect for the hamburger */ }

.nav > .nav-btn > label > span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #4b81f8;
    /* New color for the hamburger lines */
    margin: 6px 0; }

.nav > .nav-btn > label::after {
    content: 'Menu';
    /* New label for the hamburger */
    font-size: 14px;
    position: absolute;
    top: 60px;
    /* Position of the new label */
    right: -10px;
    /* Position of the new label */ }

.nav > .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }

.nav > .nav-links > a {
    line-height: 1.875em;
    text-decoration: none;
    text-transform: capitalize;
    color: #4b81f8;
    padding: 0.313em 0.625em; }

.nav > .nav-links > a:hover {
    color: #4d4d4d; }

.nav > #nav-check {
    display: none; }

/* Navigation CSS Media Query */
@media screen and (max-width: 600px) {
    .nav {
        padding-bottom: 0; }

    .name-website {
        display: none;
        /* hide website name on smaller screens */ }

    .nav > .nav-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10000; }

    .nav > .nav-links {
        position: absolute;
        display: none;
        width: 100%;
        z-index: 30000;
        background-color: #333;
        top: 50px;
        left: 0; }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
        color: #fff; }

    .nav .nav-btn:checked ~ .nav-links {
        display: block; } }

/* Category Selection CSS */
#categorySelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    width: 90%;  /* Add this */
    margin: 1em auto; /* Center the container */
}

#categorySelector label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

#category {
    width: 100%;
    max-width: 15.75em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: #fff;
    font-size: 1em;
    color: #333;
}

#category:focus {
    outline: none;
    border-color: #668cff;
    box-shadow: 0 0 5px 1px #668cff;
}

/* Use a media query to adjust the styles for screens that are 600px wide or smaller */
@media (max-width: 600px) {
    #categorySelector {
        width: 80%; /* Increase the width */
        font-size: 1em; /* Decrease the font size */
    }
    #category {
        max-width: none; /* Allow the select box to take the full width */
    }
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#quiz {
    width: 100%;
    max-width: 37.5em; /* 600px / 16px (base font-size) */
    background: #f9f9f9;
    border-radius: 0.3125em;
    padding: 0.625em;
}

.triviaContainer {
    text-align: center;
}

#mainGame {
    margin-top: 1.25em;
}

.info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* changed to space-around for equal spacing */
    align-items: center; /* to vertically align text */
    background-color: #4caf50;
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.info-bar p {
    color: white;
    margin: 0;
    font-size: 1em; /* adjust as per preference */
}

.info-bar #currentQuestion,
.info-bar #score {
    font-weight: bold;
}

/* Media Query for Mobile Screens */
@media screen and (max-width: 30em) {
    .info-bar {
        flex-direction: column;
        text-align: center;
        padding: 1em 0; /* less padding horizontally for mobile view */
    }
}

#currentQuestion,
#score {
    font-weight: bold;
}

#question {
    font-size: 1.5em;
    color: #338b37;
    margin-bottom: 1.25em;
}

.buttonStyle {
    background-color: #4caf50; /* green */
    color: white;
    border: none;
    padding: 0.625em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.3125em;
    width: 100%;
    margin-bottom: 0.625em;
}

.buttonStyle:hover {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.nextBtn {
    display: inline-block;
    float: right;
    border: none;
    background-color: #4caf50; /* green */
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.3125em;
    padding: 0.625em 1em;
}

.nextBtn:hover {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

@media (min-width: 48em) {
    .main {
        padding: 2em;
    }

    #quiz {
        padding: 2em;
    }

    #current {
        font-size: 1.5em;
    }

    #question {
        font-size: 2em;
    }

    .buttonStyle {
        font-size: 1.125em;
        padding: 0.75em;
        transition-duration: 0.4s;
    }

    .nextBtn {
        font-size: 1.125em;
        padding: 0.75em 1.5em;
        transition-duration: 0.4s;
    }
}
