/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,500&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap");
html {
  font-family: sans-serif; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Accessibility */
#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
  #skip a:focus {
    position: static;
    width: auto;
    height: auto; }

h1, h2, h3, h4, h5, h6, legend, label {
  font-family: 'Work Sans', sans-serif; }

p, a, label, textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: normal; }

.title {
  background-color: rgba(0, 0, 0, 0.6); }

.pictureHeading {
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  line-height: 1.0; }

.site {
  width: 90%;
  background-color: #000;
  margin: 0 auto; }

.exifInfo {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em; }

/* Navigational CSS */
.nav {
  position: relative;
  width: 100%;
  height: 3.700em;
  background-color: #000;
  border-bottom: 1px solid #e6e6e6; }

.nav-title {
  display: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.875em;
  color: #efefef;
  padding-left: 0.625em; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.250em;
  padding-right: 3.125em; }

.nav > .nav-links > a {
  display: inline-block;
  line-height: 1.875em;
  text-decoration: none;
  text-transform: capitalize;
  color: #efefef;
  padding: 0.313em 0.625em; }

.nav > .nav-links > a:hover {
  background-color: #4CAF50; }

.nav > #nav-check {
  display: none; }

/* Navigation CSS Media Query */
@media screen and (max-width: 77em) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0; }

  .nav > .nav-btn > label {
    display: inline-block;
    cursor: pointer;
    width: 3.125em;
    height: 3.125em;
    padding: 0.875em; }

  .nav > .nav-btn > label > span {
    display: block;
    width: 1.563em;
    height: 0.500em;
    border-top: 0.125em solid #eee; }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 3.125em;
    left: 0; }

  .nav > .nav-links > a {
    display: block;
    width: 100%; }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0; }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 3.125em);
    overflow-y: auto; } }
/* Approximately the size of an iPad 768px */
@supports (grid-area: auto) {
  @media screen and (min-width: 48em) {
    .site {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "nav" "main" "sidebar" "footer" "lightbox";
      justify-content: center; }

    .nav {
      grid-area: nav;
      display: flex;
      justify-content: space-between; }

    .nav-title {
      display: inline-block; }

    .sidebar {
      grid-area: sidebar; }

    /* This allows the amount of columns to be set to 6 with each section taking up a single equal fraction. It also sets the grid row height to interchange between 100px and 300px automatically. Grid-auto-flow attemps to fill any wholes created from spanning.*/
    .container {
      grid-area: main;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 6.250em 18.50em;
      grid-gap: 0.625em;
      grid-auto-flow: dense; }

    .gallery-item {
      width: 100%;
      height: 100%;
      position: relative; }

    .gallery-item .images {
      width: 100%;
      height: 100%;
      overflow: hidden; }

    /* object-fit allows the element to re-size itself. object-position sets the elemnt to focus on the center of the image instead of the default top left*/
    .gallery-item .images img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      cursor: pointer;
      transition: .5s ease-in-out; }

    .gallery-item:hover .images img {
      overflow: hidden; }

    .gallery-item .title {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 20px;
      pointer-events: none;
      z-index: 4;
      transistion: .3s ease-in-out;
      -webkit-backdrop-filter: blur(5px) saturate(1.8);
      backdrop-filter: blur(5px) saturate(1.8);
      max-width: 80%; }

    .gallery-item:hover .title {
      opacity: 1;
      animation: move-down .3s linear;
      padding: 1em;
      width: 100%; }

    /* grid-column allows an element to span however many  columns you designate, in this case it is 3 for all elements with the w-3 class. This is helpful for a dynamic grid*/
    .w-3 {
      grid-column: span 3; }

    .w-2 {
      grid-column: span 2; }

    .w-1 {
      grid-column: span 1; }

    .w-4 {
      grid-column: span 4; }

    .w-5 {
      grid-column: span 5; }

    .w-6 {
      grid-column: span 6; }

    /*  grid-row allows an element to span however many  rows you designate, in this case it is 3 for all elements with the h-3 class. */
    .h-3 {
      grid-row: span 3; }

    .h-1 {
      grid-row: span 1; }

    .h-2 {
      grid-row: span 2; }

    .h-4 {
      grid-row: span 4; }

    .h-5 {
      grid-row: span 5; }

    .h-6 {
      grid-row: span 6; }

    /* lightbox */
    #lightbox {
      display: none;
      position: fixed;
      z-index: 1000;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); }

    #lightbox.active {
      grid-area: lightbox;
      display: grid;
      justify-content: center;
      align-items: center; }

    #lightbox .boxStyle {
      position: relative;
      width: 128em;
      max-width: 75%;
      padding: 2px; }

    #lightbox p.displayInfo {
      position: absolute;
      left: 1.250em;
      bottom: 1.250em;
      background-color: rgba(0, 0, 0, 0.45);
      color: #fff;
      z-index: 20000;
      padding: 1.250em; }

    .colophon {
      grid-area: footer; } } }
/* Approximately the size of a 1248px large display monitor */
@supports (grid-area: auto) {
  @media screen and (min-width: 78em) {
    .boxStyle {
      max-width: 85%;
      max-height: 85%; } } }
/* animation instructions for move-down in text */
@keyframes move-down {
  0% {
    top: 10%; }
  50% {
    top: 35%; }
  100% {
    top: 50%; } }
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 0.625em; }

.pagination .three-dots {
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.313em 0.500em 0; }

.pagination a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
  padding-left: 0.313em; }

.pagination a.selected {
  font-weight: bolder;
  color: #fff;
  padding-left: 0.313em; }

.colophon {
  display: block;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  color: #F5F5F5;
  text-align: center;
  background-color: #000;
  margin-top: 1.250em; }

/*# sourceMappingURL=gallery.css.map */
